* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 48px;
    z-index: 1000;
}
.logo {
    color: white;
    font-size: 20px;
    font-weight: 600;
    }
.logo:hover {
    transform: scale(1.1);
}
.nav-links{
    display: flex;
    gap: 32px;
}
li a {
    position: relative;
    color: white;
    font-weight: 300;
}
.visit-btn {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    text-wrap: nowrap;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 48px;
    background: linear-gradient(to right, rgb(0,157,255), rgb(255,0,255));
    color: white;
    transition: 0.3s ease-in-out;
}
.visit-btn:hover{
    background: linear-gradient(to right , rgb(255,0,255), rgb(0,157,255));
    transform: scale(1.03);

}
/* About Start */
section{
    min-height: 100vh;
    padding: 100px 32px 80px 32px;
    position: relative;
    width: 100%;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about-container img {
    width: 25vw;
    border-radius: 50%;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 24px;
}

.info-box h3 {
    font-size: 24px;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 32px;
    font-weight: 800;
}

.info-box span {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    font-size: 28px;
    font-weight: 600;
    background-clip: text;
    color: transparent;
}

.btn-group {
    display: flex;
    gap: 16px;
}
.btn-group .btn {
    border: 2px solid black;
    padding: 8px 16px 8px 16px;
    border-radius: 32px;
    cursor: pointer;
    font-weight: 600;
    text-wrap: nowrap;
    transition: .3s ease-in-out;
}

.btn-group .btn:hover {
    background-color: black;
    color: azure;
}

.socials {
    display: flex;
    gap: 16px;
}

.socials{
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.socials i:hover {
    transform: scale(1.1);
}
/* About End */

/* experience start */
.section-title{
font-size: 64px;
text-align: center;
font-weight:600 ;
margin-bottom: 48px;
}
.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    }
.experience img {
    width: 24vw;
    border-radius: 48px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.grid-card{
    border: 2px solid black;
    border-radius: 48px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.grid-card:hover{
    transform: scale(1.02);
    background-color: black;
    color: white;
}
.grid-card i{
    font-size: 24px;
    margin-bottom: 16px;
}
.grid-card span{
    font-size: 24px;
    font-weight: 500;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    color: rgb (219,219,219);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(255, 0, 255), rgb(0, 157, 255));
}

/* experince end */